$background: #ededed !default;

$surface-primary: #ededed !default;
$surface-secondary: #dedede !default;

$shadow: silver !default;

$on-primary: white !default;
$on-secondary: #666 !default;

$primary: dodgerblue !default;
$primary-hover: rgb(21, 118, 214) !default;
$primary-active: rgb(27, 131, 235) !default;

$secondary: #ddd !default;
$secondary-hover: rgba(black, 0.1) !default;
$secondary-active: rgba(black, 0.2) !default;

$danger: crimson !default;
