$em-1: 0.4em !default;
$em-2: 0.8em !default;
$em-3: 1.2em !default;
$em-4: 1.6em !default;
$em-5: 2em !default;

$rem-1: 0.4rem !default;
$rem-2: 0.8rem !default;
$rem-3: 1.2rem !default;
$rem-4: 1.6rem !default;
$rem-5: 2rem !default;
$rem-6: 3rem !default;
